In [1]:
print("Multiple Inheritance program....")

Multiple Inheritance program....

In [2]:
class Parent1:
    def set_name(self,str1):
        self.str1=str1

    def show_name(self):
        print("Name of parent 1 is : ",self.str1)

In [3]:
class Parent2 :
    def set_name2(self,str2):
        self.str2 = str2


    def show_parent2_name(self):
        print("Name of Parent 2 is : ", self.str2)

In [4]:
class Child(Parent1, Parent2):
    def set_child_name(self,str3):
        self.str3=str3

    def show_child_name(self):
        print("Name of Child is : ",self.str3)

In [5]:
c1=Child()
c1.set_name("Sanvad")
c1.set_name2("Pranali")
c1.set_child_name("Riddhm")

c1.show_name()
c1.show_parent2_name()
c1.show_child_name()

Name of parent 1 is :  Sanvad
Name of Parent 2 is :  Pranali
Name of Child is :  Riddhm