<a href="https://colab.research.google.com/github/sanvadds/Python-Basic-Practice/blob/main/Swap_two_numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Taking two numbers input**

In [6]:
number_1 = int(input("Please Enter Number 1 : "))
number_2 = int(input("Please Enter Number 2 : "))

print("First Number : ",number_1)
print("Second Number : ",number_2)

Please Enter Number 1 : 10
Please Enter Number 2 : 20
First Number :  10
Second Number :  20

**Swap numbers - In python without taking temporary variable we can able to swap**

In [7]:
number_2, number_1 = number_1, number_2

**Output After Swap**

In [8]:
print("After swap first number : ",number_1)
print("After swap second number : ",number_2)

After swap first number :  20
After swap second number :  10